<h1>Dashboard</h1>

<h2>Summary</h2>  

<br/>

<div class="panel panel-default products">
<aside>Number of products in database: <%= @product_count %> </aside>
</div>
<div class="panel panel-default products">
<aside>Number of categories in database: <%= @category_count %> </aside>
</div>
